# ─── Node.js ─────────────────────
node_modules/
dist/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ─── Python ──────────────────────
__pycache__/
*.py[cod]
*.sqlite3
env/
venv/
.env

# VSCode などエディタ固有
.vscode/
