/* src/components/modal.module.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.window {
  position: relative;
  background: #fff;
  border-radius: 8px;
  /* keep header flush: top padding removed */
  padding: 0 16px 16px;
  width: fit-content;
  min-width: 320px;
  max-width: 75%;
  max-height: calc(100vh - 290px);
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  margin: 0 -16px;
  /* border-bottom: 1px solid #e0e0e0; */
  z-index: 10;
}

.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.close_button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
  color: #d6d6d6;
}

.close_button:hover {
  color: #727272;
}

.modal_content {
  padding: 16px;
  overflow-y: auto;
  flex: 1;
}

.modal_footer {
  display: flex;
  justify-content: flex-end;
  padding: 12px 16px;
  /* border-top: 1px solid #e0e0e0; */
}

.footer_close_button {
  /* background: #f0f0f0; */
  border: 1px solid #f0f0f0;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.footer_close_button:hover {
  background: #e0e0e0;
}
