.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title {
  font-size: 1.25rem;
  font-weight: bold;
}
.error {
  color: #dc2626;
}
/* 入力欄全体のスタイル */
.input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  /* アイコン分の余白を右に確保 */
  padding: 0.5rem 2.5rem 0.5rem 0.5rem;
  font-size: 1rem;
}

.button {
  margin-top: 10px;
  padding: 0.5rem 0.85rem;
  background-color: #363636;
  color: #ffffff;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1rem;
}

.switchText {
  font-size: 0.875rem;
  text-align: center;
}
.switchButton {
  background: none;
  border: none;
  color: #2563eb;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}

.success {
  color: #28a745;
  font-size: 0.875rem;
  text-align: center;
}
