/* PaymentSettings.module.css */
.container {
  max-width: 900px;
  min-width: 300px;
  margin: 2rem auto;
  padding: 2rem;
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  border: 1px solid #d1d5db;
}

.title {
  font-size: 1.75rem;
  font-weight: 600;
  color: #333;
  border-bottom: 2px solid #e5e7eb;
  padding-bottom: 0.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.section {
  margin-bottom: 1.5rem;
}

.subTitle {
  font-size: 1.125rem;
  font-weight: 500;
  color: #111827;
  margin-bottom: 0.75rem;
}

.fieldGroup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
}

.input {
  padding: 0.75rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1rem;
  color: #111827;
  background-color: #f9fafb;
}

.addButton,
.removeButton,
.submitButton {
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
}

.addButton {
  background-color: #363636;
  color: #fff;
}

.addButton:hover {
  background-color: #000;
}

.removeButton {
  background: none;
  color: #ef4444;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.2s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.2s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #36b37e;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #d1d5db;
  padding: 0.75rem;
  text-align: left;
}

.submitButton {
  background-color: #363636;
  color: #fff;
  align-self: center;
  margin-top: 1rem;
}

.submitButton:hover {
  background-color: #000000;
}
