/* src/components/LoginButton.module.css */

/* メニューアイテム */
.loginButton {
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  text-align: left;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  align-items: center; /* 垂直方向の中央揃え */
  justify-content: flex-start; /* 水平方向の左詰め */
  gap: 5px;
}

.loginButton:hover {
  background: #f3f4f6;
}
