/* :global(*) {
  box-sizing: border-box;
} */

.card {
  max-width: 1400px;
  margin: 0 auto;
  padding: 24px;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
}

@media (max-width: 1228px) {
  .card {
    max-width: 768px;
  }
}

.mobileContainer {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
  /* width: 100%; としても可 */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
.desktopContainer {
  display: grid;
  gap: 32px;
  grid-template-columns: minmax(500px, 1fr) minmax(500px, 550px);
}

.mediaColumn {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.infoColumn {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.extraContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 1.75rem;
  margin: 6px 0;
}

.footer {
  text-align: right;
}

.reportButton {
  background: none;
  border: 1px solid #6b7280;
  border-radius: 6px;
  padding: 4px 8px;
  font-size: 0.875rem;
}
